<%= render partial: "shared/sidebar" %>

<div class="content-container">
  <div class="pagehead pt-2 mb-2">
    <h1>New entry</h1>
  </div>

  <% if @parent_entry %>
    <%= render partial: "entries/list_entry", locals: { entry: @parent_entry } %>
  <% end %>

  <%= render 'form', entry: @entry %>
  <div class="mb-10"></div>
</div>
