<%= render partial: "shared/sidebar" %>

<div class="content-container">
  <div class="pagehead">
    <h1>Entries for <%= @date %></h1>
  </div>
  <% @entries&.each do |entry| %>
    <%= render partial: "entries/list_entry", locals: { entry: entry } %>
  <% end %>
</div>
