<div class="container-lg clearfix">
  <%= render partial: "timeline/search" %>
 
  <div class="col-6 p-2 pl-4 float-left border-left">
    <% entry = Entry.new %>
    <%= render partial: "timeline/new_entry", locals: { entry: entry } %>

    <% @entries&.each do |entry| %>
      <%= render partial: "timeline/entry", locals: { entry: entry } %>
    <% end %>
  </div>
</div>
