<%= render partial: "shared/sidebar" %>

<div class="content-container">
  <%= render partial: "timeline/search_bar" %>

  <div class="pt-4">
    <% @entries&.each do |day, entries| %>
      <div class="pagehead">
        <h3><%= day %></h3>
      </div>

      <% entries.each do |entry| %>
        <%= render partial: "entries/list_entry", locals: { entry: entry } %>
      <% end %>
    <% end %>
  </div>
</div>
