<div class="container-lg clearfix">
  <%= render partial: "timeline/search" %>
 
  <div class="col-6 p-2 pl-4 float-left border-left">
    <% if @entry %>
      <%= render partial: "timeline/new_entry", locals: { entry: @entry } %>
    <% end %>
  </div>
</div>

