@import '@primer/css/index.scss';
@import 'simple_calendar';
// https://guides.rubyonrails.org/asset_pipeline.html#manifest-files-and-directives
@import '**/*';


.pagehead {
    position: relative;
    // margin-bottom: 24px; // default value but its kind of big
    margin-bottom: 18px;
    border-bottom: 1px solid #e1e4e8;
}


.content-container {
  @extend .float-left;
  // this is very hard to reason about and yet every time i touch this
  // i manage to not document how this works. my basic intuition is as follows:
  // you define the smallest sets first which are then overrided by… larger
  // breakpoints?
  // answer: gotta define the sizes in all the diff breakpoints
  // @extend .col-sm-11, .mx-sm-4;
  @extend .col-sm-11;
  @extend .col-md-8;
  @extend .col-lg-6;
  @extend .mb-lg-4;

  @include breakpoint(sm) {
    margin-right: $spacer-4;
    margin-left: $spacer-4;
  }

  @include breakpoint(md) {
    margin-right: $spacer-0;
    margin-left: $spacer-0;
  }

  max-width: 100%;
}

.sidebar-container {
  @extend .float-left;
  @extend .col-md-3;
  @extend .col-lg-2;
  @extend .hide-sm, .hide-md;

  @include breakpoint(md) {
    margin-left: $spacer-4;
  }

  @include breakpoint(xl) {
    margin-left: $spacer-0;
    margin-right: $spacer-0;
  }

  // notebook selector
  .SelectMenu-modal {
    width: 100%;
    border: none;
    // border-radius: unset;
    // box-shadow: unset;
    // background: unset;
    .SelectMenu-list {
      // padding-top is to prevent the thick 'item selected' border
      // from being cropped by the parent SelectMenu-modal (?) (not totally sure)
      padding-top: 4px;
      padding-right: 1em;
      padding-left: 0.5em;
      padding-bottom: 4px;
      border-top: unset;
      overflow-x: unset;
    }
  }
}

.context-container {
  @extend .float-left;
  @extend .col-lg-3;
  @extend .col-xl-3;
  @include breakpoint(lg) {
    padding-left: $spacer-8;
  }
  @extend .hide-sm, .hide-md;
}


.calendar-container {
  @extend .float-left;
  @extend .col-sm-11;
  @extend .col-md-8;
  @extend .col-lg-9;
  @extend .mb-lg-4;

  @include breakpoint(sm) {
    margin-right: $spacer-4;
    margin-left: $spacer-4;
  }

  @include breakpoint(md) {
    margin-right: $spacer-0;
    margin-left: $spacer-0;
  }
}

// settings
.settings-toc {
  @extend .h3;
  padding-left: 1em !important;
}

// used for rendering entry bodies
.entry-box {
  @extend .Box;
  .markdown-body img {
    width: 100%;
  }
}

// unused
// .entry-edit {
//   padding-top: 12px;
//   padding-right: 12px;
//   padding-bottom: 12px;
//   padding-left: 16px;
//   margin-top: -1px;
//   border-top: 1px solid #e1e4e8;
// }

.entry-box + .entry-box {
  @extend .mt-2;
}

.entry-box + .entry-threaded, .entry-threaded + .entry-box {
  // margin-top: 0px !important; // HAX turned off
  border-top: 1px solid #e1e4e8 !important; // HAX added
  // border-top: 0px; // HAX turned off
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
//
// .entry-box + .entry-show {
//   border: 1px solid $gray-400 !important;
//   border-top-left-radius: 2px !important;
//   border-top-right-radius: 2px !important;
// }

.TimelineItem-start {
  @extend .TimelineItem-break;
  border: none;
}

summary::marker {
  padding-bottom: 4px;
}

summary::-webkit-details-marker {
  padding-bottom: 4px;
}

.entry-list-header {
  @extend .text-small;
  @extend .mb-3;

  @extend .text-gray-dark;
  // HAX
  border-bottom: 1px solid #e1e4e8;
  padding-bottom: 16px;
}

// prevent controls (edit, fold, etc) from appearing when selecting text
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


// https://stackoverflow.com/a/17030071
// TODO: find a better name, css-truncate is used in primer
.truncate {
  overflow: hidden;
  position: relative;
  max-height: 400px; // was 300

  // used for action bar
  .show-on-fold {
    display: initial;
  }

  .hide-on-fold {
    display: none;
  }

  // used for show-all-content toggle
  .show-all-toggle {
    display: block;
    position:absolute;
    width: 100%;
    height: 3em;
    bottom: 0em;
    background-color:white;
    p {
      width: fit-content;
      cursor: pointer;
      margin-top: 0.5em;
      font-size: 16px;
    }
  }
}

.truncate.truncate-more {
  max-height: 180px;
}


.show-on-fold {
  display: none;
}

.show-all-toggle {
  display: none;
}

// end truncate

// .truncate:after{
//   content:"";
//   height: 75px;
//   display: block;
//   width: 100%;
//   position:absolute;
//
//   background: linear-gradient(transparent, white);
//
//   background-color:white;
//   opacity: 0.8;
//   bottom: -0.3em
// }


// for displaying the hide button only on hover
.hide-calendar {
  display: inline;
  visibility: hidden;
  opacity: 0.0;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.calendar-entry:hover .hide-calendar {
  visibility: visible;
  opacity: 1.0;
  display: inline;
}

// override dark grey in calendar view
table.weekly {
  table-layout: fixed;
  .next-month, .prev-month {
    background-color: #F2F2F2;
    &.today {
      background-color: #FFFFC0 // commented out for now.
    }
  }

  td {
    padding: 0;
    overflow: hidden;
    background-color: #F2F2F2;
    .weekly-entry {
      padding: 6px;
      background-color: white;
      border-bottom: 1px solid #dfe2e5;
      padding-bottom: 15px;
    }
  }
}

table.monthly {
  table-layout: fixed;
  background-color: #F2F2F2;
  td.has-events {
    background-color: white;
  }
}

// brand
h1.arquivo {
  font-size: 42px;
  a {
    text-decoration: underline black;
    &:hover {
      text-decoration: underline $blue-500;
    }
  }
}

.black-underline {
  text-decoration: underline black;
  &:hover {
    text-decoration: underline $blue-500;
  }
}

// HAX
// the h1, h2 has a border bottom that is a bit excessive
.markdown-body h1, .markdown-body h2 {
  border-bottom: 0;
  padding-bottom: 0;
}



///////// NEW refactor of the views.
content {
  float: left;

  // tricky to think about so let's document it for now:
  // first we set the default size (i.e. for smallest screens) and then
  // we progressively override it for larger screen breakpoints
  // so, in a mobile view it should take up all 12 cols
  // and have a little bit of padding:
  width: 100%;
  padding-right: $spacer-3;
  padding-left: $spacer-3;

  // space at bottom of the screen
  padding-bottom: $spacer-8;


  // handling columns:
  // once the screen gets a bit bigger, we scale it back to 11 cols
  @include breakpoint(sm) {
    width: (11 / 12 * 100%); // @extend .col-sm-11;
    padding-right: $spacer-4;
    padding-left: $spacer-4;
  }

  // mid size screens can include a sidebar if we wantd to
  // so here we're just 8 cols
  @include breakpoint(md) {
    width: (8 / 12 * 100%); // @extend .col-md-8;
    padding-right: $spacer-4;
    padding-left: $spacer-4;
  }

  // in the large screen size, give us a 25% margin-left
  @extend .offset-lg-2;

  // and in the largest screens we don't want to take up more than 50%
  // (of our xl (1280px) defined container)
  @include breakpoint(lg) {
    width: (6 / 12 * 100%); // @extend .col-lg-6;
    padding-left: 0;
  }

  max-width: 100%;
}

// largely mimics content-container
header.static_pls{
  @extend content;
  // reset padding from content
  padding-bottom: 0px;

  // hack to get border to respect padding
  // so i can avoid fucking with the margins, which disrupt the grid
  .border-container {
    border-bottom: 1px solid $border-gray-darker;
    padding-bottom: $spacer-2;
  }

  nav {
    display: flex;
    align-items: baseline;

    ul {
      list-style: none;
      display: flex;
      li {
        margin-right: $spacer-4;
      }
    }
  }

  // scale down brand
  h1.arquivo {
    font-size: 30px;
  }
}

// NEW ENTRY tag
entry {
  display: block;

  // used for being a target of the '.truncate' class & being positioned relative
  // so the 'show-all-toggle' may work positioned absolutely
  entry-container {
    display: block;
  }

  action-bar {
    display: block;

    font-size: $font-size-small;
    color: $text-gray-dark;
  }

  entry-subject {
    display: block;
    line-height: $lh-condensed;
    // if the entry-subject is empty, apply spacer-2
    margin-bottom: $spacer-2;
    // but if there's a title present, apply spacer-4
    h1, h2 {
      margin-bottom: $spacer-4;
    }
  }

  // temp hack before the show-all-toggle gets refactored, to adjust for the empty between the show-all toggle and the entry's bottom border
  .show-all-toggle p {
    margin-top: 1.2em !important;
    margin-left: auto;
    margin-right: auto;
  }


  // different types of entry styles:
  // borderless represents the now-default view in the timeline
  &.borderless {
    border-bottom: 1px solid $border-gray-dark;
    // space at the end of the entry, before the bottom border
    padding-bottom: $spacer-5;

    // space at the end of the entry, between entries
    margin-bottom: $spacer-8;

    action-bar {
      padding-top: $spacer-3;
    }
  }

  // threaded style adds in the .Box borders we had before.
  &.threaded {
    $entry-box-padding: $spacer-3;

    border: 1px solid $border-gray;
    border-radius: 3px;
    // space between entries
    margin-top: $spacer-3;

    entry-container {
      padding: $entry-box-padding;

      // todo: figure out why this is misbehaving in the (folded) boxed style
      // but not elsewhere.
      .show-all-toggle {
        height: 5em;
        p {
          // for w/e reason, the show-all-toggle p's box in chrome
          // renders at a 16px offset from the left, afaict due to padding on entry-container
          // but then extends 16px past the border
          // so in order for the Keep reading chevron to be centered, we need to
          // add TWICE the padding
          padding-right: $entry-box-padding * 2;
        }
      }
    }
  }
}

$red-salsa: #f94144ff;
$orange-red: #f3722cff;
$yellow-orange-color-wheel: #f8961eff;
$mango-tango: #f9844aff;
$maize-crayola: #f9c74fff;
$pistachio: #90be6dff;
$zomp: #43aa8bff;
$cadet-blue: #4d908eff;
$queen-blue: #577590ff;
$cg-blue: #277da1ff;

.dot {
  height: 9px;
  width: 9px;
  // background-color: $red-salsa;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2px;
}
