@import '@primer/css/src/index.scss';
@import 'simple_calendar';
// https://guides.rubyonrails.org/asset_pipeline.html#manifest-files-and-directives
@import '**/*';


.pagehead {
    position: relative;
    margin-bottom: 24px;
    border-bottom: 1px solid #e1e4e8;
}


.content-container {
  @extend .col-8, .float-left;
}

// used for rendering entry bodies
.Box-body p:last-of-type {
  margin-bottom: 0px;
}

.entry-box {
  @extend .Box, .mb-2;
  &:last-of-type {
    margin-bottom: 0px !important;
  }
}

.TimelineItem-start {
  @extend .TimelineItem-break;
  border: none;
}

summary::marker {
  padding-bottom: 4px;
}

summary::-webkit-details-marker {
  padding-bottom: 4px;
}

.entry-list-header {
  @extend .text-small;
  @extend .mb-3;

  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
