// Place all the styles related to the timeline controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import '@primer/css/src/index.scss';
