<%= render partial: "static_site/shared/header" %>

<content>
  <div class="">
    <% @all_entries.each do |entry| %>
    <%= render partial: "static_site/entries/list_entry", locals: { entry: entry } %>
  <% end %>
  </div>

  <%= will_paginate @all_entries, class: "pagination mt-4 mb-4"%>
</content>
